body {
  background-color: rgb(242, 253, 251);
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: rgb(0, 102, 255);
  font-style: normal;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-input,
.form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #757575;
  font-style: normal;
  margin: 15px;
  padding: 10px;
  border: 2px solid rgb(0, 102, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  background-color: honeydew;
}
.form-input:hover,
.form-input:focus {
  border-color: blue;
}
.gallery {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0;
}
.image-list {
  margin: 0 auto;
}
.image-item {
  width: 380px;
  margin-bottom: 15px;
  border-radius: 2px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.image {
  width: 380px;
  height: 250px;
}
.stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}
.stats-item {
  display: flex;
  align-items: center;
}
.material-icons {
  margin: 5px;
}
